* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: pink;
    padding: 35px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #e01c47;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c40856;
}

.task {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(236, 178, 192);
    border-radius: 5px;
    font-size: 12px;
}

/* Completed Button */

.com {
    background-color: rgb(115, 224, 115);
    padding: 5px 8px;
}

.com:hover {
    background-color: darkgreen;
}

/* Update Button */

.update {
    background-color: rgb(255, 193, 7);
    color: black;
    padding: 5px 8px;
}

.update:hover {
    background-color: rgb(230, 170, 0);
}

/* Delete Button */

.del {
    background-color: rgb(202, 8, 8);
    padding: 5px 8px;
}

.del:hover {
    background-color: darkred;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Journal Button Section */

.journal-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#journalBtn {
    width: 100%;
    background-color: #e01c47;
}

#journalBtn:hover {
    background-color:#c40856;
}

/* Completed Task */

.completed p {
    text-decoration: line-through;
    color: gray;
}