*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: pink;
    padding: 35px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px 15px;
    border: none;
    background-color: #e01c47;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #c40856;
}

.task-list{
    list-style-type: none;
}

.task-list li{
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #4CAF50;
}